body {
    background-color: aqua;
}

#img {
    height: 15rem;
    width: 15rem;
}

.container{

}

h1{
    text-align: center;
    padding: 15px;
    font-family: 'Kaushan Script', cursive;
    font-size: 100remgit;
}